<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 's Profile</title>
    <meta content="<%= note.title %>" property="og:title"/>
    <meta content="<%= note.content %>" property="og:description"/>
    <meta name="twitter:card" content="summary_large_image">
    <link href="/css/app.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
    <style>
    .multiline {
      white-space: pre-wrap;
    }
    </style>
</head>

<body>
<div class="hero bg-base-300 min-h-screen">
  <div class="card card-border border-base-200 shadow-2xl bg-base-100 w-120">
      <div class="card-body card-border">
        <div class="badgeDiv"> 
          <div class="badge badge-outline badge-error">important</div>
        </div>
            <h2 class="text-2xl font-bold py-2"><%= note.title %></h2> 
       <img id="noteImage" src="" width="auto" height="auto" style="max-height: 480px; max-width: 480px;">  
        <h2 class="text-s py-2 text-wrap multiline break-words"><%= note.content %> </h2>
        <div class="buttonHolder"> 
          <button class="btn btn-primary btn-sm" id="copyClipboard" type="submit" onClick="copyToClipboard('<%= note.content %>')">Copy Content</button>
          <button class="btn btn-primary btn-sm" id="copyClipboardImg" type="submit" onClick="copyToClipboardImg('<%= note.file %>')">Copy Image</button>
        </div>
  
        <br>
        <div class="breadcrumbs text-xs">
          <ul>
            <li><a href="https://myshare.haydar.dev/dashboard.html">Dashboard</a></li>
          </ul>
          <h2 class="text-xs">Uploaded by UID <%= note.userId %></h2> 
        </div>
      </div>
    </div>
  </div>
</body>
</html>
